
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}


.login {
    background: rgba(255, 255, 255, 0.9);
    padding: 100px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.53);
    width: 500px;
    color: white;
}



.login h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.login h5 {
    color: rgba(0, 0, 0, 0.411);
    text-align: center;
    margin-bottom: 20px;
    
}


.input {
    width: 100%;
    position: relative;
    color: black;
   margin-top: 20px;
}

.input i {
    position: absolute;
    right: 20px;
    top:70%;
    transform: translateY(-50%);
    font-size: 18px;
}

button {
    width: 100%;
    border-radius: 25px !important;
    margin-top: 30px;
    background-color: blueviolet;
}


.remember {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

.remember a {
    color: rgb(0, 0, 0);
    
}

