
body {
   margin:0;
   background-color:#ffffff;
   
}

.Login{
     height: 100vh;
    display: flex;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
}
.login {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.53);
    width: 500px;
    color: white;
}



.login h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}


.login h5 {
    color: rgba(0, 0, 0, 0.411);
    text-align: center;
    margin-bottom: 20px;
    
}


.input {
    width: 100%;
    position: relative;
    color: black;
   margin-top: 20px;
}

.input i {
    position: absolute;
    right: 20px;
    top:70%;
    transform: translateY(-50%);
    font-size: 18px;
}

.login button {
    width: 100%;
    border-radius: 25px !important;
    margin-top: 30px;
    background-color: blueviolet;
}


.remember {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

.remember a {
    color: rgb(0, 0, 0);
    
}

/*Dashboard*/
.header {
    background-color: #ffffff;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: space-between;
     box-shadow: 0 10px 30px rgba(196, 188, 188, 0.53);

}
.header h2 {
    margin: 0;
    
}
.container {
    max-width: 800px;
    margin: 40px auto;
}
.title {
    background: white;
    padding: 25px;
    border-radius: 20px 20px 0 0; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.title .btn {
    margin-right: 10px;
    margin-top: 10px;
}
.tampilan {
    background: white;
    padding: 25px;
   
    border-radius: 0 0 20px 20px; /* bawah bulat */
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.tampilan svg {
    width: 60px;
    height: 60px;
    color: #4A90E2;
    margin-bottom: 10px;
}

/*Tambah*/
